ENV_TYPE=production
NODE_ENV=production

REACT_APP_API_URL=
# https://api.digitalblock.exchange # production
# http://localhost:5002 # development

REACT_APP_XRPL_EXPLORER=
REACT_APP_SOLOGENIC_TEST_API_URL=
REACT_APP_SOLOGENIC_API_URL=
REACT_APP_XRP_TESTNET=
REACT_APP_XRP_PAIR_PRICE=
REACT_APP_PROMPT_FOR_TESTING_KEY=false
