.subscribed-block {
  height: 300px;
  width: 100%;
  background: linear-gradient(265.73deg, #acd949 9.82%, #9fd340 40.96%, #39b54a 80.16%);
}
.subscribed-block .bg-layer {
  height: 100%;
  width: 100%;
  padding: 60px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
